<template>
  <div class="about">
    <h1>About Airblocks</h1>
    <p>Airblocks is an almost beautiful web app that lets you build</p>
    <p>serverless applets with interfaces visually without code.</p>
  </div>
</template>
