<template>
  <div id="root">

    <div class="hero">
      <Greeting msg="Create web applets and visual interfaces without code"/>
      <p>Welcome to Airblocks. 🤷 <br> The platform for building actionable interfaces and web applets without code.</p>
      <a class="ab-Button" href=""> Create your first applet today </a>
      <DataGrid fields="sdfsdf" data="ddsds" />
    </div>

    <div class="section__one">
      <div class="code-snippet">
        <p>`It's so easy to make codeless, serverless products.` - Some guy</p>
      </div>
      <div class="subheading-one">
        <span>😍</span>
        <h2>Integrate the services you already love and know</h2>
        <p>Spotify, Giphy, Twitter and ProductHunt. The gang is all here, and they're ready to get to work.
        Actions and input is collected from third-party connections and trigger the web applets that power your visual interfaces and spreadbases.</p>
      </div>

      <div class="subheading-two">
        <span>🚛</span>
        <h2>Export applets directly to Amazon AWS</h2>
        <p>Spotify, Giphy, Twitter and ProductHunt. The gang is all here, and they're ready to get to work.
        Actions and input is collected from third-party connections and trigger the web applets that power your visual interfaces and spreadbases.</p>
      </div>

      <div class="demo-header">
        <h1>Try out the visual builder below!</h1>
        <p>Spotify, Giphy, Twitter and ProductHunt. The gang is all here, and they're ready to get to work.
        Actions and input is collected from third-party connections and trigger the web applets that power your visual interfaces and spreadbases.</p>
      </div>
    </div>

    <div class="mini-section__features">
      <h3>Features</h3>
      <ul>
          <li>
            <img src="https://d33wubrfki0l68.cloudfront.net/b047629fef6ba3799e732cba3679cf81fb9acf59/8d4ad/img/new/icons/icon-performance-g.svg" alt="">
            <span>Unlimited Exports</span>
            <p>lorem ipsum</p>
          </li>
          <li>
            <img src="https://d33wubrfki0l68.cloudfront.net/b047629fef6ba3799e732cba3679cf81fb9acf59/8d4ad/img/new/icons/icon-performance-g.svg" alt="">
            <span>Connect Apps Instantly</span>
            <p>lorem ipsum</p>
            </li>
          <li>Build Audience Quickly</li>
          <li>Smart Notifications</li>
          <li>Quick Features</li>
          <li>Instant Access</li>
      </ul>
    </div>

    <div class="card__cta">
    <div class=".cc__left-content">
      <p>Left: content goes here</p>
    </div>
    <div class=".cc__right-content">
      <p>Right: content goes here</p>
    </div>
    </div>

    <div class="bottom-cta">
        <h1>You're gonna build amazing things with Airblocks</h1>
        <p>Never in my life have I ever had some finger waves!</p>
        <input class="input" type="email" name="email" placeholder="Your best email…">
        <a class="bottom_cta-Button" href=""> Get started now</a>
    </div>

    <div id="footer">
      <p>© 2018 Markia Theus, all rights reserved</p>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Greeting from '@/components/Greeting.vue';
import DataGrid from '@/components/DataGrid.vue';

export default {
  name: 'index',
  components: {
    Greeting,
    DataGrid,
  },
};
</script>

<style scoped lang="scss">
  @font-face {
    font-family: Geomtria;
    src: url('../assets/__fonts/geomtria.otf');
  }

  @font-face {
    font-family: SailecBold;
    src: url('../assets/__fonts/sailec-bold.woff');
  }

  #root {
      color: white;
      background-color: rgba(14,14,14,1);

    .hero {
      padding: 25px 15px;
        h1 {
          font-family: SailecBold;
          font-size: 54px;
        }

        p {
          font-family: '-apple-system', 'BlinkMacSystemFont', 'San Francisco', 'Segoe UI', Arial, sans-serif;
          font-size: 20px;
        }

        .ab-Button {
          font-size: 22px;
          font-family: SailecBold,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;

          background-color: #ff006a;
          color: #fff;
          border: 1px solid #ff006a;
          border-radius: 5px;
          cursor: pointer;
          display: inline-block;
          line-height: 1;
          margin: 0;
          padding: 25px 34px 19px;
          text-align: center;
          text-decoration: none;
          text-transform: none;
          transition: background-color .25s ease,border .25s ease,color .25s ease;
          vertical-align: middle;
          white-space: nowrap;
        }

        .ab-Button:hover {
          background-color: #e00a63;
        }
    }

    .section__one {

      .code-snippet {
        font-family: Geomtria;
        font-size: 18px;
        background-color: #252424;
      }

      .subheading-one {
        margin-top: 128px;
        padding-left: 74px;
        text-align: left;

        span {
          font-size: 64px;
        }

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 19px;
          width: 39%;
          color: rgba(255,255,255,0.35);
        }
      }

      .subheading-two {
        padding-right: 74px;
        margin-top: 128px;
        vertical-align: top;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;
        flex-wrap: wrap;
        align-items: flex-end;

        span {
          font-size: 64px;
        }

        h2 {
          font-size: 32px;
        }

        p {
          text-align: right;
          font-size: 19px;
          width: 39%;
          color: rgba(255,255,255,0.35);
        }
      }

      .demo-header {
        margin-top: 196px;

        h1 {
          font-size: 49px;
          text-align: center;
        }

        p {
          max-width: 63%;
          text-align: center;
          display: inline-block;
          color: rgba(255,255,255,0.75);
        }
      }
    }

    .mini-section__features {
      width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    padding: 80px 0;
    position: relative;
    text-align: center;

    h3 {
      font-size: 42px;
    }
      ul {
            display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
        li {
          width: 33.333%;
    text-align: left;
    padding: 0 30px;
    margin-bottom: 50px;
        vertical-align: baseline;
        span {
          display: block;
    margin-bottom: 20px;
        }
        }
      }

    }

    .card__cta {
      position: relative;
      padding: 40px 32px;
      justify-content: space-between;
      align-items: center;
      max-width: 60rem;
      transition: all .5s cubic-bezier(.645,.045,.355,1),transform .5s cubic-bezier(.645,.045,.355,1),-webkit-transform .5s cubic-bezier(.645,.045,.355,1);
      background-color: rgba(255, 255, 255, 0.18);
      border: none;
      display: flex;

      .cc__left-content {
        flex: 1 1 47%;
        -webkit-box-flex: 1;
      }

      .cc__right-content {
        flex: 1 1 53%;
        -webkit-box-flex: 1;
      }
    }

    .bottom-cta {
        text-align: left;

      .input {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #D2DAF0;
        border-radius: 2px;
        color: #565678;
        -webkit-appearance: none;
        font-size: 16px;
        letter-spacing: -0.1px;
        line-height: 20px;
        padding: 13px 16px;
        height: 28px;
        box-shadow: none;
      }

      .bottom_cta-Button {
          font-size: 18px;
          font-family: SailecBold,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;

          background-color: #1998e2;
          color: #fff;
          border: 1px solid #1998e2;
          border-radius: 5px;
          cursor: pointer;
          display: inline-block;
          line-height: 1;
          margin: 0;
          padding: 20px 34px 15px;
          text-align: center;
          text-decoration: none;
          text-transform: none;
          transition: background-color .25s ease,border .25s ease,color .25s ease;
          vertical-align: middle;
          white-space: nowrap;
      }

      .bottom_cta-Button:hover {
          background-color: #1581bf;
      }
    }

    #footer {
        text-align: left!important;
    }
  }
</style>
