
<template>
  <div id="app">
    <navbar-component></navbar-component>
    <router-view/>
  </div>
</template>

<script>
// import Nav component here
  import NavbarComponent from './components/Nav.vue';

  export default {
    name: 'app',
    components: {NavbarComponent},
  }
</script>

<style lang="scss">
body {
  margin: 0px;
  padding: 0px;
}

#app {
  font-family: -apple-system, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
