<template>
<div id="root">

    <div class="mini_nav-bar">
        mini div: project name, etc
        <button>Publish this block</button>
    </div>

     <div id="sidebar">
        <h2> Sidebar Nav for Block Parts</h2>
        <ul class="sidemenu">
            <li>
                <a href="/#/block/${project-uuid}/applet">
                    <i>icon here</i>
                    <span>Applets: JSON ASTs/Lambda Function Builder</span>
                </a>
            </li>
            <li>
                <a href="/#/block/${project-uuid}/interface-setup">
                    <span>Interface: Form JSON Builder</span>
                </a>
            </li>
            <li>
                <a href="/#/block/${project-uuid}/workflow">
                    <span>Connectors: connect interface to applet</span>
                </a>
            </li>
            <li>
                <a href="/#/block/${project-uuid}/settings">
                    <span>Configure: fic settings of the project</span>
                </a>
            </li>
        </ul>
     </div>

      <div>[Canvas]</div>
    <div>Components</div>
</div>
</template>


<script>
    // triggered by interface button: pull data from apps and 
    // interface form and give to the lambda function to execute
</script>


<style lang="scss" scoped>
    #root {
        display: flex;

        .mini_nav-bar {
            display: block;
            margin-bottom: 24px;
        }
        #sidebar {

        align-items: stretch;
            margin-left: 0;
            width: 6rem;
            text-align: center;
            transition: all 0.4s;
            background: #FFF;

        }
    }
</style>
