<template>
  <div class="root">
    <h1>User Dashboard</h1>
    <p>No blocks here yet.</p>
    <div class="ab_tile">
      <div class="pre-text">
        <span>+</span>
        <a href="/#/app/editor">Create a new block from the builder</a>
        <p>Add to your dashboard.</p>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
    .root {
        color: #C6C6C6;
        background-color: #FAFAFA;

        p{
          font-size: 26px;
        }

        .ab_tile {
          background-color: rgb(255, 0, 85);
          border-radius: 6px;
          text-align: center;
          margin: 8px;
          display: block;
          height: 300px;
          border-radius: 8px;
          min-width: 200px;
          max-width: 280px;
          position: relative;
          cursor: pointer;
          left: 0;
          top: 0;
          width: 100%;
          transition: transform 240ms ease 100ms, -webkit-transform 240ms ease 100ms;

          .pre-text {
            height: 60px;
            padding: 42px 16px;
            font-size: 26px;
            white-space: pre-line;

            span {
              display: block;
              color: white;
              font-size: 52px;
            }

            a {
              color: white;
              text-decoration: none;
            }

            p {
              font-size: 21px;
            }
          }

        }
    }
</style>
