<template>
  <div class="about">
        <h2>Log into Airblocks</h2>
            <!-- put input form right here -->
            <button>Log in</button>
  </div>
</template>

<style scoped lang="scss">
    .about {
      color: red;
    }
</style>