<template>
  <div class="root">
    <h1>Apps & Integrations</h1>
    <p>Add the services you already know and love to Airblocks</p>
    <h3>My connections</h3>
    <div id="intg_grid">
        <div class="box_4 b lyft_box">
          <img src="../../assets/__logos/lyft.png"/>
        <a href="/app/auth/lyft">Connect</a>
        <a href="#">Disconnect</a>
        </div>
        <div class="box_4 c foursquare_box">
          <img src="../../assets/__logos/foursquare.png"/>
        <a href="/app/auth/foursquare">Connect</a>
        <a href="#">Disconnect</a>
        </div>
        <div class="box_4 e spotify_box">
          <img src="../../assets/__logos/spotify.png"/>

        <a href="/app/auth/spotify">Connect</a>
        <a href="#">Disconnect</a>
        </div>
    </div>
  </div>
</template>

<style scoped lang="scss">

  @font-face {
    font-family: Geomtria;
    src: url('../../assets/__fonts/geomtria.otf');
  }

  @font-face {
    font-family: SailecBold;
    src: url('../../assets/__fonts/sailec-bold.woff');
  }

  #intg_grid:before,
  #intg_grid:after { content:""; display:table; }
  #intg_grid:after { clear:both;}

  #intg_grid {
    font-family: SailecBold;
    transition: all 0.5s ease;

     zoom:1;
    clear: both;
	  padding: 0px;
	  margin: 0px;

    .box_4 {
      transition: all 0.3s ease-in-out;
      padding: 55px;
      border-radius: 5px;
      display: block;
	    float:left;
	    margin: 1% 0 1% 1.6%;
      cursor: pointer;
      width: 8.8%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

      span {
        margin-bottom: 25px;
      }

      a {
        display: inline-block;
        font-size: 12px;
        background-color: #ffffff4d;
        color: inherit;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 12px;
      }

      a:hover {
        background-color: #ffffffa8;
      }
    }
    .box-4:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    }
    .box_4:first-child {
      margin-left: 20px;
    }

    .twilio_box {
      background-color: crimson;
      color: #FFF;
    }

    .twitch_box {
      background-color: slateblue;
      color: #FFF;
    }

    .github_box {
      background-color: #212121;
      color: #FFF;
    }

    .discord_box {
      background-color: slategrey;
      color: #FFF;
    }

    .lyft_box {
      background-image: linear-gradient( rgb(190, 31, 124), rgb(250, 31, 159) );
      color: #FFF;
            img {
        width: 45%;
        opacity: 0.85;
        padding-bottom: 25px;
      }
    }

    .foursquare_box {
      background-color: #6fb5dd;
      background-image: linear-gradient( rgb(53, 152, 177), rgb(88, 188, 235) );
      color: #242d36;
                  img {
        width: 90%;
        opacity: 0.85;
      }
    }

    .spotify_box {
      background-image: linear-gradient( rgb(53, 177, 63), rgb(60, 223, 73) );
      color: #242d36;

      img {
        width: 55%;
        opacity: 0.85;
      }
    }

    .reddit_box {
      border-color: orangered;
      border: 3px solid;
      background-color: #FAFAFA;
      color: #d35115;
    }
  }

  @media only screen and (max-width: 480px) {
	.box_4 {  margin: 1% 0 1% 0%; width: 100%; }
  .box_4:first-child {margin-left: -20px;}
}
</style>
