<template>
    <table>
        <tr>
            <td value=:fields></td>
            <p>ok</p>
        </tr>
    </table>
</template>

<script>
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

export default ({
  el: '#dg-table',
  name: 'DataGrid',
  props: {
    fields: Array,
    data: Array,
  },
  data() {
    return {
      gridFields: ['name', 'email', 'gender', '__slot:actions'],
      gridRecords: [
        { key1: 'value' },
        { key2: 2 },
        { key3: '32323' },
      ],
    };
  },
  /* methods: {
    editRecord(recordData) {
      /* eslint no-console: "error" */
  //  console.log(`You click on this record ${JSON.stringify(recordData)}`);
  //  },
  // },
});

</script>

<style scoped lang="scss">
    #dg-table {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
            margin-top: 60px;
    }
</style>
