<template>
    <div id="nav_bar">
        <h1>Airblocks</h1>
        <p> build recipes from scratch.</p>
        <ul>
            <li><a href="/#/"> {{ list.record1_name }} </a></li>
            <li><a href="/#/about">  {{ list.record2_name }} </a></li>
            <li><a href="/#/app/blocks">  {{ list.record4_name }} </a></li>
            <li><a href="/#/app/settings/integrations">  {{ list.record3_name }} </a></li>
            <li><a class="cta__btn" href="/#/app/editor">  Create a new block </a></li>
            <li><a href="/#/app/settings/profile">@{{ list.record6_name }}</a></li>
        </ul>
    </div>
</template>

<script>

export default {
    name: 'Nav',
    data() {
        return{
            "list": {
                "record1_name": "Home",
                "record2_name": "About",
                "record3_name": "Integrations",
                "record4_name": "Dashboard",
                "record5_name": "Builder",
                "record6_name": "theusmarkia",
            },
        };
    }
}

</script>

<style scoped lang="scss">
    #nav_bar {
        text-align: left;

        h1 {
            font-size: 22px;
        }

        p {
            font-size: 18px;
        }

        .cta__btn {
            background-color: rgb(0, 110, 255);
            padding: 3px 15px;
            border-radius: 4px;
            color: #FFF;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600px;
        }
    }
</style>
